doctype html
html(lang="en")
    head
        title Timestamp Microservice
        link(rel="stylesheet", type="text/css", href="css/styles.css")
    body
        h1 Timestamp microservice
        #how
            p How to:
            ol
                li I can pass a string as a parameter, and it will check to see whether that string contains either a unix timestamp or a natural language date (example: January 1, 2016).
                li If it does, it returns both the Unix timestamp and the natural language form of that date.
                li If it does not contain a date or Unix timestamp, it returns null for those properties.
        #example
            h2 Example usage:
            a(href='https://time-microservice.herokuapp.com/December%2015,%202015') https://time-microservice.herokuapp.com/December%2015,%202015
            a(href='https://time-microservice.herokuapp.com/1450137600') https://time-microservice.herokuapp.com/1450137600
            h2 Example output:
            p { "unix": 1450137600, "natural": "December 15, 2015" }
        